[Desktop Entry]
Version=1.0
Name=zappyk-hd (Western Digital)
Exec=google-chrome-apps "http://zappyk-hd/admin/e_shutdown_reboot.php?lang=it"
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
