#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name[it_IT]=Touchpad on
Name=Touchpad on
Exec=/home/zappyk/Programmi/switch-touchpad/switch-touchpad-4-zappyk-nb.sh 1
Path=/home/zappyk/Programmi/switch-touchpad/
Icon=/home/zappyk/Programmi/switch-touchpad/switch-touchpad-on.png
GenericName[it_IT]=
GenericName=
#StartupNotify=true
